<!doctype html>
<html>
  <head>
    <meta >
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ site.github.repository_name }}</title>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <script src="/_sass/style.scss"></script>
  </head>
  <body bgcolor="black" link="white" vlink="white" class=" hasGoogleVoiceExt">
    <font face="courier" color="white">
    <div class="wrapper">
      <section>
      <div id="content">
        {{ content }}
      </div>
      </section>
    </div>
    </font>
  </body>
</html>
